{
  {% for key, value in character_data.items() %}
    {% if value is mapping %}
      "{{ key }}": {
        {% for inner_key, inner_value in value.items() %}
          "{% if inner_value is string %}"{{ inner_key }}": "{{ inner_value }}"{% else %}"{{ inner_key }}": {{ inner_value }}{% endif %}{% if not loop.last %},{% endif %}
        {% endfor %}
      }{% if not loop.last %},{% endif %}
    {% elif value is sequence %}
      "{% if value is string %}"{{ key }}": ["{% endif %}
      {% for item in value %}
        {% if item is string %}"{{ item }}"{% else %}{{ item }}{% endif %}{% if not loop.last %},{% endif %}
      {% endfor %}
      {% if value is string %}"]"{% endif %}{% if not loop.last %},{% endif %}
    {% else %}
      "{{ key }}": {% if value is string %}"{{ value }}"{% else %}{{ value }}{% endif %}{% if not loop.last %},{% endif %}
    {% endif %}
  {% endfor %}
}
